<!-- 관리자 페이지 메인. -->



<!DOCTYPE html>
<html lang="ko">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/default_layout.css" rel="stylesheet">
</head>

<body>
    <!-- 사이드바 -->
    <nav>
        <div id='sidebar'>
            <div id='logo'>
                <img src="/res/logo.png">
            </div>
            <p id="below_logo">관리자 페이지</p>
            <div class="sidemenu">
                <p class="sidemenu_text root" style="font-size: 16pt;">입학 원서 관리</p>
                <a class="sidemenu_text root" href="/admin/search">입학 원서 검색</a>
            </div>
        </div>
    </nav>

    <!-- 정보 -->
    <article id='info'>
        <div>
            <h2 class='title'>확인된 원서 현황</h2>
        </div>
        <div class='default_margin circle_base blue'>
            <p class='typeof_local'>전체</p>
            <p class="people_count">
                <%= userCount.sum.sum %>
            </p>
        </div>
        <div class='default_margin circle_base yellow'>
            <p class='typeof_local'>대전</p>
            <p class="people_count">
                <%= userCount.home.sum %>
            </p>
        </div>
        <div class='default_margin circle_base purple'>
            <p class='typeof_local'>전국</p>
            <p class="people_count">
                <%= userCount.away.sum %>
            </p>
        </div>
        <br>
        <div class="rect_for_count blue_color">
            <p class="typeof_input">일반 마이스터 사회통합</p>
            <p class="typeof_count">
                <%= userCount.sum.common %>&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= userCount.sum.meister %>&nbsp;&nbsp;&nbsp;&nbsp;
                        <%= userCount.sum.social %>
            </p>
        </div>
        <div class="rect_for_count yellow_color">
            <p class="typeof_input">일반 마이스터 사회통합</p>
            <p class="typeof_count">
                <%= userCount.home.common %>&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= userCount.home.meister %>&nbsp;&nbsp;&nbsp;&nbsp;
                        <%= userCount.home.social %>
            </p>
        </div>
        <div class="rect_for_count purple_color">
            <p class="typeof_input">일반 마이스터 사회통합</p>
            <p class="typeof_count">
                <%= userCount.away.common %>&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= userCount.away.meister %>&nbsp;&nbsp;&nbsp;&nbsp;
                        <%= userCount.away.social %>
            </p>
        </div>

        <div>
            <div>
                <h2 class='title'>지원자 성적 현황</h2>
            </div>
            <table class="score_list">
                <tr>
                    <td>급간 (일반전형)</td>
                    <td>전체</td>
                    <td>대전</td>
                    <td>전국</td>
                </tr>
                <tr>
                    <td>~180</td>
                    <td>
                        <%= viewScores.common.home.to180  +  viewScores.common.away.to180 %>
                    </td>
                    <td>
                        <%= viewScores.common.home.to180 %>
                    </td>
                    <td>
                        <%= viewScores.common.away.to180 %>
                    </td>
                </tr>
                <tr>
                    <td>~170</td>
                    <td>
                        <%= viewScores.common.home.to170  +  viewScores.common.away.to170 %>
                    </td>
                    <td>
                        <%= viewScores.common.home.to170 %>
                    </td>
                    <td>
                        <%= viewScores.common.away.to170 %>
                    </td>
                </tr>
                <tr>
                    <td>~160</td>
                    <td>
                        <%= viewScores.common.home.to160  +  viewScores.common.away.to160 %>
                    </td>
                    <td>
                        <%= viewScores.common.home.to160 %>
                    </td>
                    <td>
                        <%= viewScores.common.away.to160 %>
                    </td>
                </tr>
                <tr>
                    <td>~150</td>
                    <td>
                        <%= viewScores.common.home.to150  +  viewScores.common.away.to150 %>
                    </td>
                    <td>
                        <%= viewScores.common.home.to150 %>
                    </td>
                    <td>
                        <%= viewScores.common.away.to150 %>
                    </td>
                </tr>
                <tr>
                    <td>~140</td>
                    <td>
                        <%= viewScores.common.home.to140  +  viewScores.common.away.to140 %>
                    </td>
                    <td>
                        <%= viewScores.common.home.to140 %>
                    </td>
                    <td>
                        <%= viewScores.common.away.to140 %>
                    </td>
                </tr>
                <tr>
                    <td>~130</td>
                    <td>
                        <%= viewScores.common.home.to130  +  viewScores.common.away.to130 %>
                    </td>
                    <td>
                        <%= viewScores.common.home.to130 %>
                    </td>
                    <td>
                        <%= viewScores.common.away.to130 %>
                    </td>
                </tr>
                <tr>
                    <td>~120</td>
                    <td>
                        <%= viewScores.common.home.to120  +  viewScores.common.away.to120 %>
                    </td>
                    <td>
                        <%= viewScores.common.home.to120 %>
                    </td>
                    <td>
                        <%= viewScores.common.away.to120 %>
                    </td>
                </tr>
                <tr>
                    <td>~110</td>
                    <td>
                        <%= viewScores.common.home.to110  +  viewScores.common.away.to110 %>
                    </td>
                    <td>
                        <%= viewScores.common.home.to110 %>
                    </td>
                    <td>
                        <%= viewScores.common.away.to110 %>
                    </td>
                </tr>
                <tr>
                    <td>~100</td>
                    <td>
                        <%= viewScores.common.home.to100  +  viewScores.common.away.to100 %>
                    </td>
                    <td>
                        <%= viewScores.common.home.to100 %>
                    </td>
                    <td>
                        <%= viewScores.common.away.to100 %>
                    </td>
                </tr>
                <tr>
                    <td>90 미만</td>
                    <td>
                        <%= viewScores.common.home.under90  +  viewScores.common.away.under90 %>
                    </td>
                    <td>
                        <%= viewScores.common.home.under90 %>
                            </td>
                                <td>
                                    <%= viewScores.common.away.under90 %>
                                </td>
                </tr>
            </table>
            <table class="score_list">
                <tr>
                    <td>급간 (특별전형)</td>
                    <td>전체</td>
                    <td>대전</td>
                    <td>전국</td>
                </tr>
                <tr>
                    <td>~120</td>
                    <td>
                        <%= viewScores.special.home.to120  +  viewScores.special.away.to120 %>
                    </td>
                    <td>
                        <%= viewScores.special.home.to120 %>
                    </td>
                    <td>
                        <%= viewScores.special.away.to120 %>
                    </td>
                </tr>
                <tr>
                    <td>~110</td>
                    <td>
                        <%= viewScores.special.home.to110  +  viewScores.special.away.to110 %>
                    </td>
                    <td>
                        <%= viewScores.special.home.to110 %>
                    </td>
                    <td>
                        <%= viewScores.special.away.to110 %>
                    </td>
                </tr>
                <tr>
                    <td>~100</td>
                    <td>
                        <%= viewScores.special.home.to100  +  viewScores.special.away.to100 %>
                    </td>
                    <td>
                        <%= viewScores.special.home.to100 %>
                    </td>
                    <td>
                        <%= viewScores.special.away.to100 %>
                    </td>
                </tr>
                <tr>
                    <td>~90</td>
                    <td>
                        <%= viewScores.special.home.to90  +  viewScores.special.away.to90 %>
                    </td>
                    <td>
                        <%= viewScores.special.home.to90 %>
                    </td>
                    <td>
                        <%= viewScores.special.away.to90 %>
                    </td>
                </tr>
                <tr>
                    <td>~80</td>
                    <td>
                        <%= viewScores.special.home.to80  +  viewScores.special.away.to80 %>
                    </td>
                    <td>
                        <%= viewScores.special.home.to80 %>
                    </td>
                    <td>
                        <%= viewScores.special.away.to80 %>
                    </td>
                </tr>
                <tr>
                    <td>~70</td>
                    <td>
                        <%= viewScores.special.home.to70  +  viewScores.special.away.to70 %>
                    </td>
                    <td>
                        <%= viewScores.special.home.to70 %>
                    </td>
                    <td>
                        <%= viewScores.special.away.to70 %>
                    </td>
                </tr>
                <tr>
                    <td>~60</td>
                    <td>
                        <%= viewScores.special.home.to60  +  viewScores.special.away.to60 %>
                    </td>
                    <td>
                        <%= viewScores.special.home.to60 %>
                    </td>
                    <td>
                        <%= viewScores.special.away.to60 %>
                    </td>
                </tr>
                <tr>
                    <td>~50</td>
                    <td>
                        <%= viewScores.special.home.to50  +  viewScores.special.away.to50 %>
                    </td>
                    <td>
                        <%= viewScores.special.home.to50 %>
                    </td>
                    <td>
                        <%= viewScores.special.away.to50 %>
                    </td>
                </tr>
                <tr>
                    <td>~40</td>
                    <td>
                        <%= viewScores.special.home.to40  +  viewScores.special.away.to40 %>
                    </td>
                    <td>
                        <%= viewScores.special.home.to40 %>
                    </td>
                    <td>
                        <%= viewScores.special.away.to40 %>
                    </td>
                </tr>
                <tr>
                    <td>~30</td>
                    <td>
                        <%= viewScores.special.home.to30  +  viewScores.special.away.to30 %>
                    </td>
                    <td>
                        <%= viewScores.special.home.to30 %>
                    </td>
                    <td>
                        <%= viewScores.special.away.to30 %>
                    </td>
                </tr>
                <tr>
                    <td>20 미만</td>
                    <td>
                        <%= viewScores.special.home.under20  +  viewScores.special.away.under20 %>
                    </td>
                    <td>
                        <%= viewScores.special.home.under20 %>
                    </td>
                    <td>
                        <%= viewScores.special.away.under20 %>
                    </td>
                </tr>
            </table>
        </div>
    </article>
</body>

</html>