<html>
    <%
    var regionType = {
        in: '',
        out: ''
    };
    regionType[data.regionType] = 'selected';

    var applyBaseType = {
        Common: '',
        Meister: '',
        Social: ''
    };
    applyBaseType[data.applyBaseType] = 'selected';

    var applyDetailType = {
        None: '',
        Special: '',
        National: '',
        Minimum: '',
        Solo: '',
        Cha: '',
        Chacha: '',
        North: '',
        Culture: '',
        Other: ''
    };
    applyDetailType[data.applyDetailType] = 'selected';

    var graduateType = {
        Will: '',
        Done: '',
        Black: ''
    };
    graduateType[data.graduateType] = 'selected';
    %>
    <head>
        <title>전형 선택</title>
    </head>
    <body>
        <form method="POST" action="<%='/classification/' + key%>" enctype="application/x-www-form-urlencoded">
            <select name="regionType">
                <option value="in" <%=regionType.in%>>관내</option>
                <option value="out" <%=regionType.out%>>관외</option>
            </select>
            <select name="applyBaseType">
                <option value="Common" <%=applyBaseType.Common%>>일반전형</option>
                <option value="Meister" <%=applyBaseType.Meister%>>마이스터인재전형</option>
                <option value="Social" <%=applyBaseType.Social%>>사회통합전형</option>
            </select>
            <select name="applyDetailType">
                <option value="None" <%=applyDetailType.None%>>없음</option>
                <option value="Special" <%=applyDetailType.Special%>>특례입학대상자</option>
                <option value="National" <%=applyDetailType.National%>>국가유공자 자녀</option>
                <option value="Minimum" <%=applyDetailType.Minimum%>>기초생활수급권자</option>
                <option value="Solo" <%=applyDetailType.Solo%>>한부모가족대상자</option>
                <option value="Cha" <%=applyDetailType.Cha%>>차상위계층</option>
                <option value="Chacha" <%=applyDetailType.Chacha%>>차차상위계층</option>
                <option value="North" <%=applyDetailType.North%>>북한이탈주민</option>
                <option value="Culture" <%=applyDetailType.Culture%>>다문화가정</option>
                <option value="Other" <%=applyDetailType.Other%>>그 이외 대상자</option>
            </select><br>
            <input type="text" name="graduateDate" value="<%=data.graduateYear%>">
            <select name="graduateType">
                <option value="Will" <%=graduateType.Will%>>졸업 예정</option>
                <option value="Done" <%=graduateType.Done%>>졸업</option>
                <option value="Black" <%=graduateType.Black%>>검정고시 합격자</option>
            </select>
            <input type="submit" value="다음">
            <input type="hidden" name="_method" value="put">
        </form>
    </body>
</html>