<!DOCTYPE html>
<html lang="en">

<head>
    <title>Input2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<%

var year = '', month = '', day = '';
if(data.birthday){
    console.log(data);
    birth = new Date(data.birthday);
    year = birth.getFullYear();
    month = parseInt(birth.getMonth() + 1);
    day = birth.getDate();
}

var sex = {
    man: '',
    woman: ''
};
sex[data.sex] = 'checked';
%>

<body>
    <form method="POST" action="<%='/user/info/' + key%>" encType="multipart/form-data">
        <img src="<%=data.memberImage%>">
        사진 : <input type="file" name="memberImage" accept="image/*"><br>
        학년 : <input type="text" name="grade" value="<%=data.grade%>">
         반 : <input type="text" name="class" value="<%=data.class%>" ><br>
        학교명 : <input type="text" name="schoolName" value="<%=data.schoolName%>">
        학교코드 : <input type="text" name="schoolCode" value="<%=data.schoolCode%>"><br>
         보호자명 : <input type="text" name="parentName" value="<%=data.parentName%>" ><br>
          생년월일 : <input type="text" name="year" value="<%=year%>" >년
        <input type="text" name="month" value="<%=month%>" >월
        <input type="text" name="date" value="<%=day%>" >일<br>
         성별 : <input type="radio" name="sex" value="man" <%=sex['man']%>>남
        <input type="radio" name="sex" value="woman" <%=sex['woman']%>>여<br>
         주소 : <input type="text" name="addressBase" value="<%=data.addressBase%>" ><input type="text" name="addressDetail" value="<%=data.addressDetail%>" ><br>
         우편번호 : <input type="text" name="postNumber" value="<%=data.postNumber%>">
         본인연락처 : <input type="text" name="myTel" value="<%=data.myTel%>"></br>
         보호자연락처 : <input type="text" name="parentTel" value="<%=data.parentTel%>"><br>
         학교연락처 : <input type="text" name="schoolTel" value="<%=data.schoolTel%>"><br>
        <input type="submit" name="submit" value="다음">
        <input type="hidden" name="_method" value="put">
    </form>
</body>

</html>
